.page {
    display: none;
}

.page.active {
    display: block;
}

.container {
    max-width: 600px;
}

#accounts table {
    width: 70%;
    margin: 50px 0;
}

#accounts table th:last-child,
#accounts table td:last-child {
    width: 15%;
}

.accountName {
    text-transform: capitalize;
}

.currency {
    text-align: right;
}

.transaction.withdrawal {
    background: #F9F9F9;
}

.accountBalance {
    margin-top: 25px;
}

.accountBalance .currency {
    margin-left: 1em;
}